.user-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 8px;
    min-width: 400px;
}

.full-width {
    width: 100%;
}

mat-dialog-actions {
    padding-bottom: 24px;
    padding-right: 24px;
}